  /* ====================
    COMPONENT: Results
==================== */


  /* === results ===
    __trackerTable

*/
.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.618em .618rem;
}